.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 8px; 
  grid-auto-rows: 480px; 
  
  padding-bottom: 40px;
}

.promo-snail-card {
  grid-row: span 2; 
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background-color: #fbec25; 
  padding: 0;
  display: block;
  height: 100%; 
  width: 100%;
}

.snail-full-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center; 
    
    display: block;
}